.container {
    display: flex; 
    background-color: darkolivegreen;
    padding: 10px;
    gap : 10px;
}
.container div {
    display: flex;
    background-color: darkseagreen;
    flex: 1;
    padding: 10px;
    height: 50px;
}
.style-one {
    gap: 15px;
    padding: 15px;
}
.style-two {
    gap: 12px;
    padding: 12px;
}