.container {
    display: flex; 
    background-color: brown;
    height: 50px;
    width: auto;
    flex: 1;
}
.container div {
    background-color: darkolivegreen;
    height: 50px;
    width: auto;

}
