.container {
    display: flex; 
    background-color: brown;
    height: 50px;
    width: auto;
}
.container div {
    background-color: darkolivegreen;
    height: 50px;
    width: auto;
    margin: 10px;

}
