.container {
    display: flex; 
    flex-direction: row;
    background-color: brown;
}
.container div {
  background-color: darkolivegreen;
  width: 100px;
  height: 50px;  
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}
